/* latin */
/* @font-face {
  font-family: "IM Fell English";
  font-style: italic;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/imfellenglish/v14/Ktk3ALSLW8zDe0rthJysWrnLsAzHFZOafYs.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
} */

/* latin */
@font-face {
  font-family: "IM Fell English";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/imfellenglish/v14/Ktk1ALSLW8zDe0rthJysWrnLsAzHEKOY.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

:root {
  --primary-color: #ffffff;
  --secondary-color: #b5b5b5;

  --primary-bg-color: #000000;
  --primary-bg-color-botom: #b5b5b5;
  --secondary-bg-color: #141414;

  --menu-height: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  color: var(--primary-color);
  font-family: serif;
}

nav,
h1 {
  font-family: "IM Fell English";
  font-size: 32px;
}

.page h1 {
  margin-left: 20px;
}

/* Menu */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--menu-height);
  display: flex;
  align-items: center;
  padding: 0 32px;
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid var(--primary-bg-color-botom);
  z-index: 1000;
  font-family: "IM Fell English";
}

.menu-left {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-center {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.menu-socials {
  flex: 0 0 auto;
  gap: 24px;
  display: flex;
}

.menu-link {
  text-decoration: none;
  color: var(--secondary-color);
  transition:
    color 0.25s ease,
    font-size 0.25s ease,
    transform 0.25s ease;
}

.menu-link.active {
  color: var(--primary-color);
  font-size: 34px;
  transform: translateY(-2px);
}

.img {
  width: 80px;
}

.icon {
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.2s ease;
  color: white;
}

/* any pages */
.page {
  background-color: var(--secondary-bg-color);
  margin-top: var(--menu-height);
  padding: 20px 400px;
  min-height: calc(100vh - 140px);
  font-size: 20px;
}

.page .image-left {
  width: 400px;
  float: left;
  margin: 0 40px 20px 0;
}

.page .mershandises {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mershandises h1 {
  text-align: center;
  margin: 0;
  padding: 0;
}

.page .mershandise {
  margin-bottom: 20px;
}

.page .image-mersh {
  width: 400px;
}

/* Parallax */
.fade-in {
  opacity: 1;
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
}


